@font-face {
    
    src: url(/acsest/font/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-family: 'Montserrat';
}

@font-face {
    src: url(/acsest/font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
    font-family: 'Montserrats';
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
}

.flext {
    display: flex;

}

.logo-search {
    position: absolute;
    margin: 5px;
}

.Search-in {
    padding: 5px 5px 5px 25px;
}